body { 
    background-color:rgb(216, 214, 214)
}

.header { 
    font-size: 20px;
    font-weight: bold;

}

.ui.card.centered{
    padding: 1rem;

}

.goal {
    font-weight: bold;
}

.card.header {
    color: #4183c4
}

