body { 
    background-color:rgb(216, 214, 214)
}

.header { 
    font-size: 20px;
    font-weight: bold;

}

.ui.fluid.card{
    padding: 2rem;
    font-size: 18px;


}

.goal {
    font-weight: bold;
}

.card.header {
    color: #4183c4
}

#app {
    padding: 1rem;
   
}

.container {
    padding:2%;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

